<header>
    <nav class="navbar navbar-expand-md">
    <ul class="navbar-nav">
        <li>
        </li>
    </ul>
    </nav>
    
    </header>
    <section>
        <div class="container">
        <br><br>
        <h1>Hello : {{citizenEnfant.prenom}} {{citizenEnfant.nom}}</h1>
        <h3>Bienvenue dans votre dashboard</h3>
        <p>Numéro Social : <input type="text" [(ngModel)] = "citizenEnfant.numSocial" readonly></p>
        <p>Age : <input type="text" [(ngModel)] = "citizenEnfant.age" readonly></p>
        </div>
    </section>