<section>
    <div class="container">
        <br><br>
        <h1>Permis : {{permis.id}} </h1>
        <h3>Vos informations de permis</h3>
        <p>Type de permis : <input type="text" [(ngModel)] = "permis.typePermis" readonly></p>
        <p>PermisEnfant : <input type="text" [(ngModel)] = "permis.permisEnfant" readonly></p>
        <p>Date d'expiration test : <input type="text" [(ngModel)] = "permis.dateExpirationTest" readonly></p>
        <p>Date de création test : <input type="text" [(ngModel)] = "permis.datePermisTest" readonly></p>
        <p>Date d'expiration vaccin : <input type="text" [(ngModel)] = "permis.dateExpirationVaccin" readonly></p>
        <p>Date de création vaccin : <input type="text" [(ngModel)] = "permis.datePermisVaccin" readonly></p>
    </div>
</section>
